html {
  body, h1, h2, h3, h4, h5, h6, ul li, p, span, b, label, input, select, a {
    font-family: 'Lato', sans-serif;
  }
  &:lang(ko-KR) {
    body, h1, h2, h3, h4, h5, h6, ul li, p, span, b, label, input, select, a {
      font-family: 'Noto Sans', sans-serif;
    }
  }
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: 700;
}

h1 {
  color: #153149;
}

.latofied {
  font-family: 'Lato', sans-serif;
}

input[type='number'] {
  margin-bottom: 0;
}

.woocommerce-Price-amount {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@mixin button() {
  background: $primary-color;
  border-radius: 50px;
  padding: .8em 6em;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

@mixin verticalCenter() {
  display: block;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
