.page-cart {
  article {
    padding-top: 2.5em;
    header {
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
    }
    .entry-content {
      text-align: center;
      .woocommerce {
        position: relative;
        .empty-icon {
          width: 100px;
          height: 100px;
          line-height: 100px;
          border-radius: 50%;
          background: #fff;
          margin: 2em auto 0 auto;
          img {
            vertical-align: -9px;
          }
        }
        .return-to-shop {
          position: relative;
          z-index: 3;
          text-align: center;
          margin-top: 8em;
          a {
            @include button();
          }
        }
        .cart_item {
          border-top: 1px solid #dcdcdc;
          padding: 1rem;
          .product-text {
            .product-remove {
              text-align: right;
              a {
                color: #a7a9ac;
                font-size: 2rem;
                @include verticalCenter();
              }
            }
            .product-name {
              text-align: left;
              a {
                color: #000;
                @include verticalCenter();
              }
            }
            .product-price {
              text-align: right;
              .amount {
                @include verticalCenter();
              }
            }
            .product-quantity {
              text-align: left;
              .wac-quantity {
                height: 1.875rem;
                line-height: 1.875rem;
                @include verticalCenter();
                .wac-qty-button {
                  display: block;
                  float: left;
                  background: #fff;
                  border: 1px solid #cacaca;
                  border-radius: 0;
                  padding: 0 9px;
                  text-align: center;
                  height: 1.875rem;
                  line-height: 1.875rem;
                  b {
                    display: inline-block;
                    line-height: 1.75rem;
                    height: 1.75rem;
                    font-weight: 400;
                    a {
                      display: inline-block;
                      line-height: 1.75rem;
                      height: 1.75rem;
                      font-size: 1.5rem;
                      color: #a7a9ac;
                    }
                  }
                }
                .qty {
                  display: block;
                  float: left;
                  text-align: center;
                  display: inline;
                  height: 1.875rem;
                  box-shadow: none;
                  border-left: none;
                  border-right: none;
                  @include breakpoint(medium) {
                    width: 100px;
                  }
                  @include breakpoint(small) {
                    width: 50px;
                  }
                }
              }
            }
          }
        }
        .cart_totals  {
          background: #f5f5f5;
          margin-bottom: 2.5em;
          padding: 1.25em 0;
          table {
            tbody {
              tr {
                background: #f5f5f5;
                th, td {
                  padding: .5rem 1rem;
                }
                th {
                  text-align: left;
                  font-weight: 400;
                }
                td {
                  text-align: right;
                }
              }
            }
          }
        }
        .wc-proceed-to-checkout {
          margin-bottom: 2em;
          a {
            @include button();
          }
        }
      }
    }
  }
}
